.content {
    display: flex;
    flex-direction: row;
}

.logo-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 35vw;
    position: relative;
    content:inherit;
}

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.logo-overlay {
    flex-direction: column;
    position: absolute;
    display: flex;
    height: 20%;
    width: 100%;
    margin-top: 20%;

}

.logo-background {
    display: flex;
    position: absolute;
    background-color: white;
    opacity: 30%;
    height: 100%;
    width: 100%;
}

.logo-forefront {
    position: absolute;
    display: flex;
    align-items: center;
    height:100%;
    width: 50%;
    margin-left: 25%;
}

.logo {
    display: flex;
    width: 60%;
    height: 40%;
    padding: 2px;
    justify-content: flex-start;
    align-items: center;
    
}

.logo-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Signup-area {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

.intro-message-area {
    display: flex;
    flex-direction: column;
    height: 25%;
    padding-left: 5%;
    padding-right: 10%;
    overflow: hidden;
    margin-top: 10%;
    margin-bottom: 3%;
    
}

.form-area {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height: 30%;
    padding-left: 5%;
    padding-right: 10%;
    background-color: white;
    box-shadow: 0px 2px 2px grey;
    box-sizing: border-box;
}

.form-header{
    color: darkblue;
    padding-bottom: 10px;
}

.form {
    display: flex;
    appearance: none;
    flex-wrap:wrap;
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:40px;
    gap:80px;
    margin-top: 10px;
    
}

.first {
    display: flex;
    position: relative;
    justify-content: left;
    margin-right: 80px;
    width: 30%;
}

.second {
    display: flex;
    position: relative;
    justify-content: left;
}


input {
    display:block;
    appearance: none;
    height: 14px;
    width: 200px;
    border-color: rgb(252, 252, 252);
    border-radius: 3px;
    border-width: 1px;
}

label {
    display:block;
    position: absolute; top: -14px;
    font-size: 10px;
}

#password, #password2
{
    border-color: orange;
    border-radius: 3px;
    border-width: 1px;
}

.button-area {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.submit {
    display: flex;
    width: 160px;
    height: 30px;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    background-color: orange;
    border-radius: 5px;
    border-width: 0;
    font-size: 12px;
    font-weight: 600;
    color: white;
    box-shadow: 1px 1px 1px grey;
}

.textbutton {
    display: flex;
    width: 200px;
    height: 30px;
    margin-left: 5%;
    justify-content: left;
    align-items: center;
    margin-bottom: 2%;
    font-size: 10px;
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    color: inherit;
    border: none;
    border-color: none
}