.headerArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.gamefield {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button {
    height: 300px;
    width: 300px;
    background-color: rgb(221, 241, 248);
}

#winnerpopup {
     display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 60vh;
    padding: 50px;
    background-color: rgb(169, 241, 172);
    border-radius: 15px;
    border: 1px solid lightgray;
    gap: 5%;
    align-items: center;
    box-shadow: 3px 3px grey;
}